*{
    margin: 0;
    padding: 0;
   font-family: sans-serif;
}

.fundo{
    background-image: url("../img/fundoApp.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: absolute;
}

.card{
    display: flex;
    background-color: transparent;
    border: none;
    text-align: center;
    margin-top: 15%;
    #container1{
        justify-content: center;
    }
    #col2{
        justify-content:center;
    }
}

#logo{
    width: 40vh;
    height: 40vh;
    margin: 0;
    padding: 0;
    animation: animacao 3s;
    animation-fill-mode: forwards;
}

.btn{
    border-radius: 0;
    background-color: black;
    border: none;
}

.icons{
    text-align: right;
    margin-top: 3%;
    font-size: 140%;
    margin-bottom: 3%;
    .insta{
        color: white;
        margin-left: 5%;
    }
    .whats{
        color: white;
        margin-left: 5%;

    }
    .tel{
        color: white;
        margin-left: 5%;

    }
}
.localizacao{
    text-align: right;
    font-size: 120%;
    color: white;
}

.Link{
    text-decoration: none;
    color: white;
}



