body, html {
    margin: 0;
   font-family: sans-serif;
   height: 100%;
}

.cont{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: absolute;
    border: 3px solid blue ;

}